.summary {
   display: flex;
   align-items: center;
   margin-top: 20px;
   font-size: 2rem;

   @media (min-width: 800px) {
      margin-top: 30px;
      font-size: 2.3rem;
   }

   @media (min-width: 1000px) {
      margin-top: 40px;
      font-size: 2.7rem;
   }

   &__result {
      font-size: 2.2rem;
      color: $main-focus-color;
      font-weight: bold;

      @media (min-width: 800px) {
         font-size: 2.5rem;
      }

      @media (min-width: 1000px) {
         font-size: 3rem;
      }
   }

   &__arrow {
      display: none;
      margin: 0 15px;
      width: 42px;
      fill: $main-focus-color;
   }
}
