@import './utils/vars';
@import './header';
@import './form';

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

:root {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   background-color: $dark-bg;
   font-family: 'Alata', sans-serif;
   color: $light-text;
}

.app {
   padding: 20px 15px;
}
